/* Give your page a fun background color */
body {background-color: #74BBFB;}
/* Make the header and footer a different color from the background */
header {
    background-color: aquamarine;
}
footer {
    background-color: aquamarine;
}
/* Align the h1 containing your name in the center of the header*/
h4.ME {
    text-align:center;
}
/* Make your p tag a different color and italic */
p.quote {
    background-color: dimgrey;
}
/* Put a border around your image */
img.ducky {
    display:block;
    border: 1px solid black;
    border: 2px thin gray;
    margin-left: auto;
    margin-right: auto;
    width: 14.46%;
}
/* Change the font-family of your list */
ul.shopping {
    font-family: Arial, Helvetica, sans-serif;
}
p.purple-para {
    background-color: blueviolet;
}


h2.highlight
